/* General */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #444;
}

.narrow-layout {
    max-width: 700px;
}

a {
    text-decoration: none;
    color: rgb(171, 136, 77);
    transition: .5s;
}

a:hover {
    text-decoration: none;
    color: rgb(139, 111, 63);
}

h1, h2 {
    margin-bottom: 20px;
}

h4 {
    margin-top: 30px;
}

h5 {
    font-style: italic;
    margin-top: 50px;
}

.greeting {
    text-align: center;
    margin: 50px 0px;
}

.greeting-paragraph {
    margin-bottom: 45px;
    margin-top: 50px;
}

/* Nav */

a.navbar-brand.mb-0.h1,
.arz-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    letter-spacing: .7em;
    color: rgb(33, 61, 53);
}

.arz-link {
    text-align: right;
}

.nav-link:hover {
    background-color: #f8f9fa;
    color: rgb(33, 61, 53);
}

.logo,
.logo-1922 {
    max-height: 150px;
    display: block;
    margin: auto;
    margin-top: 70px;
}

.logo-1922 {
    margin-bottom: 50px;
}

.navbar-logo {
    height: 50px;
    width: auto;
}

/* Album Page */

.welcome {
    margin-top: 50px;
    margin-bottom: 75px;
    font-style: italic;
}

.category-item,
.tool-item {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    border-radius: 15px;
    transition: .5s;
}

.category-item {
    margin: 20px;
    font-size: .9em;
    letter-spacing: .4em;
}

.toolbox {
    margin-top: 60px;
}

.tool-item {
    margin: 15px;
    font-size: .6em;
    letter-spacing: .3em;
}

.category-item a,
.tool-item a {
    display: block;
    padding: 20px;
}

.category-title {
    margin-bottom: 0;
    color: rgb(171, 136, 77);
}

.category-item:hover,
.tool-item:hover,
a.category-item:hover {
    background-color: #DFE0E1;
}

.fas {
    font-size: 4em;
    display: block;
    margin: auto; 
    margin-bottom: 10px;
    color: rgb(171, 136, 77);
}

.need-help {
    margin-top: 0;
    margin-bottom: 50px;
}

.closing {
    margin-bottom: 50px;
}

/* Product Page */

.item-category {
    text-align: left;
    margin-left: 10px;
}

.wedding-item {
    margin-top: 10px;
}

.wedding-photo {
    max-width: 300px;
    margin-bottom: 5px;
    height: auto;
    transition: .5s;
}

.wedding-photo:hover {
    opacity: .5;
}

.wedding-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    letter-spacing: .3em;
    margin-bottom: 30px;
    color: #444;
    transition: .5s;
}

.wedding-title:hover {
    color: rgb(171, 136, 77);
}

.product-photo {
    margin-top: 10px;
}

.detail-photo {
    margin-top: 50px;
}

.item-description-text {
    margin-top: 20px;
    font-size: .95em;
    text-align: left;
}

.item-title, 
.item-info,
.pair-with {
    text-align: left;
    margin-left: 10px;
}

.item-title {
    margin-top: 150px;
}

.item-details {
    list-style: none;
    text-align: left;
    font-size: .8em;
    margin-bottom: 50px;
}

.detail-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    letter-spacing: .3em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.thumbnail-photo {
    max-width: 175px;
    margin-top: 20px;
}

/* Media Queries */

@media only screen and (max-width: 960px) {
    .product-photo {
        order:1;
    }
    .item-description {
        order: 3;
    }
    .thumbnails {
        order: 2;
    }
    .pairings {
        order: 5;
    }
    .details-pricing {
        order: 4;
    }
}
