/* General */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #444;
}

.narrow-layout {
    max-width: 700px;
}

a {
    text-decoration: none;
    color: #444;
    transition: .5s;
}

h1, h2 {
    margin-bottom: 20px;
}

h4 {
    margin-top: 30px;
}

h5 {
    font-style: italic;
    margin-top: 50px;
}

a:hover {
    text-decoration: none;
    color: rgb(171, 136, 77);
}

.greeting {
    text-align: center;
    margin: 50px 0px;
}

.greeting-paragraph {
    margin-bottom: 45px;
    margin-top: 50px;
}

/* Nav */

a.navbar-brand.mb-0.h1,
.arz-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    letter-spacing: .7em;
    color: rgb(33, 61, 53);
}

.arz-link {
    text-align: right;
}

.logo,
.logo-1922 {
    max-height: 150px;
    display: block;
    margin: auto;
    margin-top: 70px;
}

.logo-1922 {
    margin-bottom: 50px;
}

.navbar-logo {
    height: 50px;
    width: auto;
}

/* Answers Page */
.album-link {
    font-style: bold;
    color: red;
}

/* Album Page */

.welcome {
    margin-top: 50px;
    margin-bottom: 75px;
    font-style: italic;
}

.category-item,
.tool-item {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f9fa;
    border-radius: 15px;
}

.category-item {
    margin: 20px;
    padding: 25px;
    font-size: .9em;
    letter-spacing: .4em;
}

.toolbox {
    margin-top: 60px;
}

.tool-item {
    margin: 15px;
    padding: 20px;
    font-size: .6em;
    letter-spacing: .3em;
}

.category-title {
    margin-bottom: 0;
    color: rgb(171, 136, 77);
    transition: .5s;
}

.need-help {
    margin-top: 0;
    margin-bottom: 50px;
}

.fas {
    font-size: 4em;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    color: rgb(171, 136, 77);
    transition: .5s;
}

.fas:hover,
.category-title:hover {
    color: rgb(136, 109, 61);
}

.closing {
    margin-bottom: 50px;
}

/* Product Page */

.item-category {
    text-align: left;
    margin-left: 10px;
}

.wedding-photo {
    max-width: 300px;
    height: auto;
}

.wedding-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    letter-spacing: .3em;
}


/*color: rgb(33, 61, 53); 248, 249, 250